/**************************************************
*	PMTCT                                         *
*	@author Yves GAKUBA         *
***************************************************/
#infoBox,.divBox {
	border: 1px solid #CCCCCC;
	-moz-border-radius: 4px;
	padding: 0.4em 1em 0.4em 10px;
	margin-left: 5px;
	margin-top: 5px;
}

.infoPatientLabel,#cpnNumberLabel,.patientNameLabel {
	color: navy;
	font-weight: bold;
	padding-left: 5px;
	font-family: Verdana, 'Lucida Grande', 'Trebuchet MS', Arial, Sans-Serif
		;
	font-size: 0.9em;
	text-align: left;
}

#list {
	background: #FFFFFF none repeat scroll 0 0;
	padding: 0.4em;
	position: relative;
	width: 270px;
	-moz-border-radius: 4px;
	border: 1px solid navy;
}

.currentProgram {
	color: white;
	background: #8FABC7;
}

.completedProgram {
	color: navy;
	background: #E0E0F0;
}

#list h3, .titlePortlet {
	margin: 0;
	padding: 0.4em;
	text-align: left;
	-moz-border-radius: 4px;
	border: 1px solid navy;
	font-weight: bold;
	font-size: 0.9em;
}

#list p {
	font-size: 12px;
	margin-left: 10px;
}

h3 {
	color: #17385B;
	font-size: 14px;
	font-weight: bold;
	margin: 3px 3px 3px 8px;
}

#regimensTitle {
	background-color: #E2EDF4;
	font-size: 12px !important;
	font-weight: bold;
	padding: 3px !important;
}

.regimenList,.regimentDetail,.obsTitle {
	width: 100% !important;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}

.regimentDetail {
	background: #F5F4EE none repeat scroll 0 0 !important;
	border: 1px dotted #DDDDDD !important;
	color: #06263C !important;
	font-size: 11px !important;
	margin-top: 2px !important;
	padding: 3px !important;
}

.button {
	border: 1px solid silver;
	padding: 2px;
	margin-left: 5px;
	margin-right: 2px !important;
	font-size: 9px;
	background: #FFFFFF none repeat scroll 0 0;
	-moz-border-radius: 4px;
	cursor: pointer;
	width: 100px;
}

.drugTd,.instructionsTd {
	vertical-align: top;
	min-width: 200px !important;
	max-width: 200px !important;
	overflow: hidden !important;
	padding-right: 3px;
}

.doseTd,.frequencyTd,.startDateTd,.unitsTd {
	vertical-align: top;
	min-width: 100px !important;
	max-width: 100px !important;
	overflow: hidden !important;
}

.buttonTd {
	vertical-align: top;
	text-align: center;
}

.greenbox {
	text-align: center;
	width: 30px;
	padding: 3px;
	margin: 4px;
	background-color: blue;
	font-weight: bold;
	font-size: small;
	color: white;
	border-style: solid;
	border-width: thin;
	cursor: pointer;
}

.obsTitle {
	background-color: #8FABC7;
	font-size: 12px !important;
	font-weight: bold;
	padding: 3px !important;
	color: white;
}

.obsName{
	min-width: 65% !important;
	max-width: 65% !important;
	overflow: hidden !important;
	margin-right: 3px;
	padding-right: 5px;
}

.flowsheetObsName{
	min-width: 45% !important;
	max-width: 45% !important;
	overflow: hidden !important;
	padding-right: 3px;
	padding-left: 7px;
}

.obsValue {
	min-width: 35% !important;
	max-width: 35% !important;
	overflow: hidden !important;
	margin-right: 3px;
	padding-right: 5px;
	font-weight: bold;
}

.flowsheetObsValue {
	min-width: 25% !important;
	max-width: 25% !important;
	overflow: hidden !important;
	margin-right: 3px;
	padding-right: 5px;
}

.flowsheetObsCreator {
	min-width: 25% !important;
	max-width: 25% !important;
	overflow: hidden !important;
	margin-right: 3px;
	padding-right: 5px;
}

.button:hover {
	border: 0.1em solid silver;
	background: #E2EDF4 none repeat scroll 0 0;
}

#pmtctInfoDiv {
	border: 1px solid silver;
	width: 94%;
	padding: 1px 1px 1px 3px;
	-moz-border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
}

#patientTabs a {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
}

.lastObsValue {
	border: 1px solid silver;
	padding: 1px 3px 1px 3px;
	color: #06263C;
	background: #E2EDF4;
	-moz-border-radius: 2px;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
}

.lastObsValuePositive {
	border: 1px solid red;
	padding: 1px 3px 1px 3px;
	color: red;
	background: #E2EDF4;
	-moz-border-radius: 2px;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
}

#cpnInfosResume {
	-moz-border-radius: 3px;
	border-bottom-width: 2px;
	border-right-width: 2px;
}

.nextPrevious {
	padding: 2px 4px 2px 4px;
	margin-left: 5px;
	margin-bottom: 5px;
	background: #E2EDF4;
	-moz-border-radius: 2px;
	border-bottom-width: 2px;
	border-right-width: 2px;
	font-size: 11px;
	cursor: pointer;
	border: 1px solid silver;
}

.nextPrevious:hover {
	background: #8FABC7;
}

.configDescription,.configDefaultValue,.configComment {
	vertical-align: top;
}

.configDescription {
	font-weight: bold;
	min-width: 55% !important;
	max-width: 55% !important;
	overflow: hidden !important;
	margin-right: 3px;
	padding-right: 5px;
}

.configSelect{
	min-width: 35% !important;
	max-width: 35% !important;
	overflow: hidden !important;
}

.configDefaultValue {
	font-style: italic;
}

.configComment{
	font-family:Verdana,'Lucida Grande','Trebuchet MS',Arial,Sans-Serif;
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
	padding-left: 10px;
}

.configTable{
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	width: 100%;
}

.displayHelp{
	margin-left: 5px;
	margin-right: 5px;
}

.even {
	background-color: whitesmoke;
}

.missingTypeInput{
	border: 1px solid red !important;
}

input[type=text]:focus{
	background-color: #ABCDEF;
}

input[readonly=readonly],input[readonly=readonly]:focus{
	background-color: #ebebeb;
}

.commentBody{
	border: 1px solid #ABCDEF;
	-moz-border-radius: 2px;
	padding: 2px;
	margin-top: 2px;
	font-size: 10px;
	display: block;
}